body{
    font-family: 'Poppins', sans-serif;
}

.texto{
    text-align: center;
    font-size: 50px;
}
.box{
    box-sizing: border-box;
}
.fle{
    display: flex;
    align-items: center;
}
.c2{
    height: 300px;
    width: 320px;
    background-color: rgb(197, 237, 237);
    border-radius: 5px;
    margin-left: 100px;
}
.c2 img {
    margin-top: 30px;
   margin-left: 20px;
}
.c3{
    margin-left: 20px;
    height: 300px;
    width: 320px;
    background-color: rgb(220, 183, 220);
    border-radius: 5px;
   
}
.c3 img{
    margin-top: 30px;
   margin-left: 20px;
}
.c4{
    margin-left: 20px;
    height: 300px;
    width: 320px;
    background-color: rgb(220, 220, 162);
    border-radius: 5px;
}
.c4 img{
    margin-top: 30px;
   margin-left: 20px;
}
.texo{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
.but1{
    background-color: rgb(251, 81, 19);
    font-size: 30px;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 17%;
    transform: translate(-50%,-50%);
}
.but{
    background-color: rgb(251, 81, 19);
    font-size: 30px;
    color: white;
    border-radius: 5px;
}
.but2{
    text-align: center;
    height: 80px;
    width: 80px;
    font-size: 20px;
    border-radius: 5px;
}
.but3{
    background-color: coral;
    text-align: center;
    height: 80px;
    width: 80px;
    font-size: 20px;
    border-radius: 5px;
}
.d3{
    align-items: center;
    width: 700px;
    height: 190px;
    background-color: rgb(157, 251, 210);
    margin-left: 300px;
}
:user-invalid
.ui{
    text-align: center;
}
.font{
    font-size: 50px;
}
.con1{
    margin-top: 100px;
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.container3{
    position: relative;
}
.container2{
    text-align: center;
}
.centered{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cont3{
    text-align: center;
    margin-top: 20px;
}
.input1{
    height: 35px;
    width: 180px;
}
.label1{
    font-size: 20px;
    color: white;
    border: 3px solid black;
    border-radius: 2px;
    background-color: palevioletred; 
}
.but4{
    text-align: center;
}
.f4{
    text-align: left;
    margin-left: 20px;
}
.f3{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gl{
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: 180px;
}
.h4{
    height: 35px;
    width: 170px;
    background-color: brown;
}
.d5{
    margin-top: 150px;
    background-color: black;
    height: 130px;
    width: 100%;
}
.g5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: pink;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}